<h2> Question to be answered </h2>
<table >
  <tr>
    <th align="left" >Title</th>
  </tr>
  <tr>
    <td><%= @question.title %></td>
  </tr>

   <tr>
    <th align="left" >Description</th>
  </tr>
  <tr>
    <td><%= @question.description %></td>
  </tr>
</table>
<br>
<table style="width:45%"  >
  <tr>
    <th align="left" >created at:</th>
    <th align="left" >updated at :</th> 
  </tr>
  <tr>
    <td><%= @question.created_at %></td>
    <td><%= @question.updated_at %></td>
  </tr>
</table>

<br/>
<table>
  <tr>

    <td>
      <!-- #Add another question -->

      <form  method="GET" action="/questions/new">
        <input type="submit" value="New Question">
      </form> 
    </td>

     <td>
    <!-- View all questions -->
    <form  method="GET" action="/questions">
    <input type="submit" value="View all questions">
    </form> 
    </td>

    <td>



     <td>
    <!-- answer a question -->
    <form  method="GET" action="/questions/<%=@id%>/answer">
    <input type="submit" value="Answer">
    </form> 
    </td>

    <td>



</tr>
</table>


<h3>Answers</h3>
<% if @answers.length != 0 %>
  <ul>

  <% @answers.each do |answer| %>
    <li>
      <p><strong> Answer: </strong><%= answer.description %></p>

     <!-- #DELETE -->
        <form  method="POST" action="/questions/<%= @question.id %>/answers/<%= answer.id %>/delete">
          <input type="hidden" name ="_method" value= "DELETE">
          <input type="submit" value ="DELETE">
        </form>
    </li>

  <% end %>

  </ul>

<% else %> 

<p>There are no answers for this question, be the first to answer! </p>
<% end %>






